.backgroundleft{
    -fx-background-color:#486494;
}
.background {
    -fx-background-color: #ffffff;
}
.backgroundright{
    -fx-background-color: #F3F4F6;
    -fx-background-radius: 0px 15px 15px 0px;
}
.button-add{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.scroll-pane {
    -fx-background-color: transparent; /* Làm trong suốt nền */
    -fx-border-color: #dcdcdc; /* Màu viền */
    -fx-border-radius: 15; /* Bán kính bo tròn */
    -fx-background-radius: 15; /* Bo tròn nền */
    -fx-border-width: 0.2;
}

.scroll-pane .viewport {
    -fx-background-color: white; /* Nền bên trong */
    -fx-background-radius: 15; /* Bo tròn nội dung */
}

.background_pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
}

.table_view {
    -fx-background-color: #f6f6f6;
    -fx-table-cell-border-color: transparent; /* Ẩn vách ngăn */
}
.table_view .column-header {
    -fx-border-width: 0 0 1 0 ;
    -fx-border-color: #bcbcbc;
    -fx-background-color: #f6f6f6;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.table_view .column-header .label {
    -fx-text-fill: #bcbcbc;
}
.table_view .table-row-cell {
    -fx-border-color: #bfbfbf;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.table_view .table-row-cell:filled .table-cell {
    -fx-text-fill: #505050;
}
.table_view .cell {
    -fx-padding: 5px;
    -fx-alignment: CENTER;
}

.table_view .table-row-cell:selected {
    -fx-background-color: lightblue; /* Màu nền khi chọn */
    -fx-text-fill: black; /* Màu chữ khi chọn */
}