.background{
    -fx-background-color: #ffffff;
}
.button_btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.button_search {
    -fx-background-color: #000000;
    -fx-cursor: hand;
    -fx-background-radius: 8 ;
}
.text_field_search {
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-border-color: #cacaca;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
}
.combo-box {
    -fx-background-color: #ffffff;
    -fx-font-size: 14;
    -fx-cursor:hand;
    -fx-border-color: #cacaca;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
}
.combo-box .list-cell {
    -fx-font-size: 14;
    -fx-cursor:hand;
    -fx-background-radius: 10;
}
.combo-box:focused {
    -fx-border-color: #66afe9;
    -fx-border-width: 2;
}